.nav {
    padding: 0 20px;
    height: 70px;
    max-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.title {
    font-size: 30px;
    text-transform: capitalize;
}

.list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.item {
    text-transform: capitalize;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

    .circle {
        background-color: #000000;
    }
}
