.nav {
    height: 55px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    border-bottom: 1px solid #777777;
    box-sizing: border-box;
}

.nav__brand {
    font-size: 1.5rem;
    pointer-events: none;
}

.menu__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 54px;
}

.menu__list li a {
    color: inherit;
    text-decoration: inherit;
    transition: 0.3s ease-in-out ;
}

.menu__list li a:hover {
    text-shadow: 0 0 10px #ffffff;
}

.nav__action {
    display: flex;
    justify-content: end;
}

.user {
    padding: 3px 3px;
    width: auto;
    border: 1px solid transparent;
    border-radius: 40px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.user:hover {
    border: 1px solid #ffffff;
}

.user__name {
    padding: 0 15px;
}

.user__status {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
}