.hero {
    height: calc(100vh - 70px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.box-small {
    position: relative;
}

.box-left, .box-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-float {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-float:has(.btn) {
    align-items: end;
}

.box-bottom {
    margin: 0 0 40px 0;
}

.text-small {
    font-size: 1.2rem;
}

.text-big {
    line-height: 100px;
    font-weight: 600;
    font-size: 6rem;
}

.text-medium {
    font-weight: 600;
    font-size: 4rem;
}

.text-right {
    text-align: right;
}

.text-outline {
    color: #ff9500;
    -webkit-text-stroke: 2px #7e4a01;
    text-wrap: nowrap;
}

.list {
    list-style-type: none;
}

.btn {
    margin: 10px 0;
    height: 50px;
    border: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    background-color: #ff9500;
    box-sizing: border-box;
}

.btn .text-small {
    padding: 0 15px;
}

.circle {
    margin: 0 0 0 5px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.square {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #ff9500;
}

.icon {
    width: 24px;
    height: 24px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
}

.item {
    margin: 20px 0;
}

@media screen and (min-width: 1800px) {
    .hero {
        height: 900px;
    }
}